@import "tailwindcss";
@plugin "daisyui";

html,


body {
    font-family: "Satoshi", sans-serif;
}

.tilt {
    font-family: "Tilt Warp", sans-serif;
}
.outline-text {
    color: transparent; 
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.6); 
    font-family: "Tilt Warp", sans-serif;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
